body {
  background-color: hsla(1,100%,25%,1);
  overflow: hidden;
}

body, html {height:100%;}

#container {
  /*width:100%;*/
  /*height:100vh;*/
  /*overflow: hidden;*/
}

#svg_0 {
  fill: hsla(1,100%,30%,1);
}

#svg_1 {
  fill: hsla(1,100%,40%,0.9);
}

#svg_2 {
  fill: hsla(1,100%,45%,0.9);
}

#svg_3 {
  fill: hsla(1,100%,50%,0.9);
}

#svg_4 {
  fill: hsla(1,100%,56%,0.9);
}

#svg_5 {
  fill: hsla(1,100%,61%,1);
}

@media query (min-width:1148px) {
#svg_0 {
  display: none;
}
}
