:root {
  --darkest: hsl(230, 99%, 30%);
  --main-dark: hsl(229, 96%, 49%);
  --main-light: hsl(229, 96%, 58%);
  --lightest: hsl(225, 100%, 66%);
  --pure-light: hsl(229, 57%, 96%);
}

body {
  background-color: hsla(1, 100%, 25%, 1);
  overflow: hidden;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#svg_0 {
  fill: url(#radialGradient);
}

#svg_1 {
  fill: url(#radialGradient);
}

#svg_2 {
  fill: url(#radialGradient);
}

#svg_3 {
  fill: url(#radialGradient);
}

#svg_4 {
  fill: url(#radialGradient2);
}

#svg_5 {
  fill: url(#centerGradient);
}

#gradientStop1 {
  stop-color: var(--darkest);
}

#gradientStop2 {
  stop-color: var(--main-dark);
}

#gradientStop3 {
  stop-color: var(--main-light);
}

#gradientStop4 {
  stop-color: var(--lightest);
}

#gradientStop5 {
  stop-color: var(--pure-light);
}
