@font-face {
  font-family: "Filson Pro";
  font-weight: bold;
  font-style: normal;
  src: url("../public/assets/fonts/FilsonPro-Medium.woff2") format("woff2"),
    url("../public/assets/fonts/FilsonPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "Helvitica Neue";
  font-weight: normal;
  font-style: normal;
  src: url("../public/assets/fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../public/assets/fonts/HelveticaNeue-Light.woff") format("woff");
}
